<!-- video wrap begin here -->
<div class="video-header wrap">
    <div class="fullscreen-video-wrap">
        <video src="./static/videos/dance.mp4" autoplay loop muted plays-inline></video>
    </div>
    <div class="header-overlay">
        <div class="header-content">
            <section class="jumbotron text-center">
                <div class="container text-primary">
                    <h1 class="jumbotron-heading">Adaptive Media streaming</h1>
                    <p class="lead">This app is all about Adaptive Media streaming that supports bitrate
                        audio and video streaming that supports
                        any devices, browser or bandwidth.</p>
                    <p>
                        <a href="/videos" id="viewAll" class="btn btn-danger my-2 p-3">View all videos</a>

                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- video wrap ends here -->
<!-- nav bar ends here -->

<!-- Video modal-->



<!-- intro text container-->
<div class="bg-light py-5">
    <!-- first container for feature video-->
    <div class="row feature-section mb-5 ml-2">
        <div class="col-sm-9 col-md-11">
            <div class="main-info-section">
                <h1 class="text-center mb-4">Adaptive bitrate Streaming</h1>
                <div class="row">
                    <div class="col-md-5 col-lg-5">
                        <img src="./static/images/devices.png" class="devices-image mt-4 ml-2"
                            alt="some random picture about adaptive streaming" srcset="">
                    </div>
                    <div class="col-md-7 col-lg-7">
                        <div class="feature">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-light"><strong>✔ Bandwidth support</strong>
                                </li>
                                <li class="list-group-item bg-light"><strong>✔ Any platform or device
                                        compatible</strong>
                                </li>
                                <li class="list-group-item bg-light"><strong>✔ Various resolution and bitrate</strong>
                                </li>
                                <li class="list-group-item bg-light"><strong>✔ Non-stop streaming</strong>
                                </li>
                                <li class="list-group-item bg-light"><strong>✔ MPEG-DASH and HLS Streaming</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- feature video section done -->

    <div class="container-fluid search-bar">
        <!-- search bar for any videos -->
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <input type="text" class="form-control" id="search" name="search-query"
                    placeholder="Search videos e.g. 4K">
            </div>
            <div class="col-sm-7 col-md-7">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-5">
                        <input type="text" class="form-control" placeholder="Uploader username">
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-4">
                        <input type="text" class="form-control" placeholder="Category">
                    </div>
                    <div class="col-md-3">
                        <button class="form-control btn btn-lg btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="videos">
        <div class="light-blue-background feature-videos">
            <div class="row">
                {{#each videos}}
                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{this.thumbSrc}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="video-title">{{this.title}}</h5>
                                <ul class="video-detail">
                                    {{!-- <li><strong>Artist(s): </strong>
                                        {{#each this.artists}}
                                            <span class="artist artist-name">{{this}}</span>
                                        {{/each}}
                                    </li> --}}
                                    <li><strong>Uploaded on:</strong> {{formatDateTime this.uploadedOn}}</li>
                                    <li><strong>Uploaded by: </strong>{{this.user}}</li>
                                    <li class="text-secondary">{{this.views}} Views</li>
                                    <li>{{fixDesc this.desc}}</li>
                                </ul>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="video-data-store" data-src="{{this.id}}">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-danger video-view "
                                                data-toggle="modal" data-target="#videoModal">View</button>
                                            {{#if @root.currentUser}}
                                                {{{ownVideo @root.currentUser this.user}}}
                                            {{/if}}
                                        </div>
                                    </div>
                                    <small class="text-muted">{{this.length}} min</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="own-video-section">
        <h3>Videos you have uploaded </h3>
        <div class="row">
            {{#each videos}}
                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{this.thumbSrc}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="video-title">{{this.title}}</h5>
                            <ul class="video-detail">
                                <li><strong>Artist(s): </strong>
                                    {{#each this.artists}}
                                        <span class="artist artist-name">{{this}}</span>
                                    {{/each}}
                                </li>
                                <li><strong>Uploaded on:</strong> {{formatDateTime this.uploadedOn}}</li>
                                <li><strong>Uploaded by: </strong>{{this.user}}</li>
                                <li class="text-secondary">{{this.views}} Views</li>
                                <li>{{this.desc}}</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="video-data-store" data-src="{{this.id}}">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-danger video-view "
                                            data-toggle="modal" data-target="#videoModal">View</button>
                                        {{#if @root.currentUser}}
                                            {{{ownVideo @root.currentUser this.user}}}
                                        {{/if}}
                                    </div>
                                </div>
                                <small class="text-muted">{{this.length}} min</small>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>

    </div>

</div>
