<!-- video wrap begin here -->
<div class="video-header wrap">
    <div class="fullscreen-video-wrap">
        <video src="./static/videos/dance.mp4" autoplay loop muted plays-inline></video>
    </div>
    <div class="header-overlay">
        <div class="header-content">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Adaptive Media streaming</h1>
                    <p class="lead text-muted">This app is all about Adaptive Media streaming that supports bitrate audio and video streaming that supports
                        any devices, browser or bandwidth.</p>
                    <p>
                        <a href="/videos" class="btn btn-primary my-2 ">View all videos</a>

                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- video wrap ends here -->
<!-- nav bar ends here -->

<!-- Video modal-->



<!-- intro text container-->
<div class="album py-5 bg-light content-section">


    <!-- first container for feature video-->
    <div class="row recent-video-section">
        <div class="col-lg-4 main-info-section">
            <h3>Adaptive bitrate Streaming</h3>
            <img src="./static/images/stream.png" alt="" srcset="">
            <div class="feature feture-lists">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="./static/images/tick.png" alt="" srcset=""> bandwidth support</li>
                    <li class="list-group-item">
                        <img src="./static/images/tick.png" alt="" srcset=""> Any platform or device compatable</li>
                    <li class="list-group-item">
                        <img src="./static/images/tick.png" alt="" srcset=""> various resolution and bitrate</li>
                    <li class="list-group-item">
                        <img src="./static/images/tick.png" alt="" srcset=""> Non stop streaming</li>
                    <li class="list-group-item">
                        <img src="./static/images/tick.png" alt="" srcset=""> MPEG-DASH and HLS Streaming</li>

                </ul>

            </div>

        </div>
        <div class="col-lg-8 light-blue-background feature-videos">
            <div class="row">
                {{#each videos}}
                <div class="col-sm-6 col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{this.thumbSrc}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="video-title">{{this.title}}</h5>
                            <ul>
                               <li>
                                {{#each this.artists}}
                                <span class="artist artist-name">{{this}}</span>
                                {{/each}}
                                </li>
                            
                            <li>{{this.uploadedOn}} </li>
                            
                            <li>{{this.views}} Views </li>
                            <li>uploaded by: {{this.user}} </li>
                            
                           <li> <p>{{this.desc}}<p> </li>
                             </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="video-data-store" data-src="{{this.id}}">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary video-view " data-toggle="modal" data-target="#videoModal">View</button>
                                        {{#if @root.currentUser}}
                                        {{{ownVideo @root.currentUser this.user}}}

                                        {{/if}}
                                    </div>
                                </div>
                                <small class="text-muted">{{this.length}} min</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>


    </div>

    <!-- feature video section done -->

    <div class="container-fluid search-bar">
        <!-- search bar for any videos -->
        <div class="form-group  row">
            <div class="col-sm-5 col-md-5">
                <input type="text" class="form-control" id="search" name="search-query" placeholder="Search videos eg Avicii Levels">
            </div>
            <div class="col-sm-7 col-md-7">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-5">
                        <input type="text" class="form-control" placeholder="uploader username">
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-4">
                        <input type="text" class="form-control" placeholder="category">

                    </div>
                    <div class="col-md-3">
                        <button class="form-control btn btn-primary">Search</button>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="own-video-section">
        <h3>Videos you have uploaded </h3>
        <div class="row">
            {{#each videos}}
                <div class="col-sm-6 col-md-3">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{this.thumbSrc}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="video-title">{{this.title}}</h5>
                            <ul>
                               <li>
                                {{#each this.artists}}
                                <span class="artist artist-name">{{this}}</span>
                                {{/each}}
                                </li>
                            
                            <li>{{this.uploadedOn}} </li>
                             <li>uploaded by: {{this.user}} </li>

                            <li>{{this.views}} Views </li>
                            
                           <li> <p>{{this.desc}}<p> </li>
                             </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="video-data-store" data-src="{{this.id}}">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary video-view " data-toggle="modal" data-target="#videoModal">View</button>
                                        {{#if @root.currentUser}}
                                        {{{ownVideo @root.currentUser this.user}}}

                                        {{/if}}
                                    </div>  
                                </div>
                                <small class="text-muted">{{this.length}} min</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

        </div>

    </div>

</div>
</div>